server:
  port: 8083
  servlet:
    context-path: /

spring:
  application:
    name: secureauth-oauth2

  
  # DATABASE CONFIGURATION
  
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  
  # JPA / HIBERNATE
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

  
  # OAUTH2 CONFIGURATION
  
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile,email

          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope: user:email,read:user

  
  # EMAIL CONFIGURATION
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        debug: false

  
  # THYMELEAF
  
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false


# JWT

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}


# FRONTEND

frontend:
  url: ${FRONTEND_URL}


# SWAGGER

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true


# LOGGING

logging:
  level:
    com.auth: DEBUG
    org.springframework.security: INFO
